# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
.env
.venv
env/
venv/

# macOS
.DS_Store

# VS Code
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# MyPy
.mypy_cache/
